<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Изменение услуги</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form method="POST" class="form-signin" th:object="${washOption}" th:action="@{/admin/update}">
                <h1 class="form-signin-heading">Изменение услуги</h1>

                <!--        hidden -> скрытый текст для добавления уникального айди в передаваемый объект-->
                <input type="hidden" th:field="*{id}" class="form-control" placeholder="id">

                <div class="form-group">
                    <input type="text" th:field="*{name}" class="form-control" placeholder="Название услуги"
                           autofocus="true">
                    <span style="color:red" class="has-error" th:if="${#fields.hasErrors('name')}"
                          th:errors="*{name}"></span>
                </div>

                <div class="form-group">
                    <input type="text" th:field="*{cost}" class="form-control" placeholder="Стоимость">
                    <span style="color:red" class="has-error" th:if="${#fields.hasErrors('cost')}"
                          th:errors="*{cost}"></span>
                </div>

                <div class="form-group">
                    <input type="text" th:field="*{time}" class="form-control" placeholder="Затрачиваемое время">
                    <span style="color:red" class="has-error" th:if="${#fields.hasErrors('time')}"
                          th:errors="*{time}"></span>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Обновить</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>